/*
	Makes pages appear nicer when they are printed.
*/

@media print {

	div.headder {
		display: none;
	}

	div.container, div.large_container {
		max-width: none;
	}

	tr {
		border-bottom: 1px #eeeeee solid;
	}

	thead tr {
		border-bottom: 1px #ee7f00 solid;
	}

}
