h1, h2, h3, h4, h5, h6, p {
	font-family: helvetica, sans-serif;
}

div.headder {
	border-bottom: 1px solid #eeeeee;
	text-align: center;
	padding: 10px;
}

a.no_underline {
	text-decoration-line: none;
	text-decoration: none;
}

span.nav_button {
	transition:
		border-bottom-width 0.1s ease-in,
		border-bottom-color 0.1s linear;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #eeeeee;
}

span.nav_button, span.nav_button_current {
	line-height: 20px;
	padding: 11px 20px 10px 20px;
	margin: 0px 20px 0px 20px;
	color: #000000;
}

span.nav_button_current {
	transition:
		border-bottom-width 0.1s ease-in,
		border-bottom-color 0.1s linear;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #eeeeee;
}

a.bright {
	color: #2a7fff;
}

span.nav_button:hover, span.nav_button_current:hover {
	transition:
		border-bottom-width 0.1s ease-out,
		border-bottom-color 0.1s linear;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #2a7fff;
}

div.large_container {
	max-width: 1000px;
	margin: 0px auto;
}

div.container {
	text-align: center;
	margin: 0px auto;
	max-width: 800px;
}

table {
	width: 100%;
}

td {
	width: 50%;
	text-align: center;
	padding: 20px;
}

#anim_canvas {
	margin: 0px auto;
	z-index: -1;
	position: absolute;
}

tbody.stripes tr:nth-child(even) {
   background-color: #f8f8f8;
}

thead {
	background-color: #eeeeee;
}