h1, h2, h3, h4, h5, h6, p {
	font-family: helvetica, sans-serif;
}

#canvas_wrapper {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

canvas {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	overflow: hidden;
	border: 1px #eeeeee solid;
}

#canvas1 {
	z-index: -2;
	background-color: white;
}

#canvas2 {
	z-index: -1;
}

body.whiteboard {
	margin: 0px auto;
	position: fixed;
	overflow: hidden;
	height:100%;
	background-color: #f8f8f8;
}

div.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

div.toolbar {
	background-color: white;
	border-right: 1px solid #eeeeee;
	height: 100%;
	float: left;
	z-index: 100;
	position: relative;
	padding: 0px;
	width: 70px;
	border-left: 80px solid white;
	margin-left: -80px;
}

div.toolbar {
	display: none;
}

div.toolbar, div.toolbar div, .toolbar_hidden {
	position: absolute;
	transition: left 0.4s cubic-bezier(.68,-0.55,.27,1.55);
}

div.center {
	text-align: center;
}

.center > div, .center > table {
    margin-left: auto;
    margin-right: auto;
}

#modal_pane {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}

.fadein, #modal_pane {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

#text_input_text {
	font-family: helvetica;
	font-size: 30px;
	font-style: normal;
	position: fixed;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border: 0px;
	transition: all 0.1s ease-in-out;
}

#modal_image {
	position: fixed;
	transition: all 0.1s ease-in-out;
	transform: scale(1);
	transform-origin: top left;
}

#modal_latex_positionable {
	display: none;
	position: fixed;
}

.modal {
	display: none;
}

/*.modal_image_select {
	background-color: #ffffff;
	border-top: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	margin-top: 120px;
}*/

img.toolbar_button {
	transition:
		border-right-width 0.1s ease-in,
		border-right-color 0.1s linear;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #eeeeee;
}

img.toolbar_button:hover {
	transition:
		border-right-width 0.1s ease-out,
		border-right-color 0.1s linear;
	border-right-width: 4px;
	border-right-color: #2a7fff;
}
img.toolbar_button_selected {
	border-right-width: 4px;
	border-right-color: #eeeeee;
}

div.toolbar div[left = -80px] img {
	border-right-width: 0px;
	/*transition: border-right-width 0s;*/
}

#image_upload_form {
	display: none;
}

.modal_centered {
	display: none;
}

.modal_centered_outer {
    display: table;
    position: absolute;
    height: 60%;
    width: 100%;
}

.modal_centered_middle {
    display: table-cell;
    vertical-align: middle;
}

.modal_centered_inner {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
	background-color: white;
	border-top: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	padding-top: 20px;
	padding-bottom: 20px;
}

#toolbar_footer {
	position: absolute;
	bottom: 0;
}

#toolbar_footer_container {
	position: relative;
	bottom: 0;
	z-index: 20;
	background-color: #ffffff;
}

#toolbar_normal {
	height: 100%;
}

#toolbar_scrollable {
	align: relative;
	transition: top 0.1s ease-out;
}

#tb_table {
	height: 100%;
}

#status_message {
	transition: top 0.4s cubic-bezier(.68,-0.55,.27,1.55);
	padding: 20px;
	border: solid #eeeeee 1px;
	/*display: none;*/
	position: fixed;
	right: 20px;
	top: 20px;
	background-color: white;
}

#status_message span {
	font-size: 40px;
}
