h1, h2, h3, h4, h5, h6, p {
	font-family: helvetica, sans-serif;
}

#canvas_wrapper {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

canvas {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	overflow: hidden;
	border: 1px #eeeeee solid;
}

#canvas1 {
	z-index: -2;
	background-color: white;
}

#canvas2 {
	z-index: -1;
}

body.whiteboard {
	margin: 0px auto;
	position: fixed;
	overflow: hidden;
	height:100%;
	background-color: #f8f8f8;
}

div.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

div.toolbar {
	background-color: white;
	border-right: 1px solid #eeeeee;
	height: 100%;
	float: left;
	z-index: 100;
	position: relative;
	padding: 0px;
	width: 70px;
}

#modal_pane {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: rgba(96, 96, 96, 0.4);
	display: none;
}

#text_input_text {
	font-family: helvetica;
	font-size: 30px;
	font-style: normal;
	position: fixed;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border: 0px;
	transition: all 0.1s ease-in-out;
}

#modal_image {
	position: fixed;
	transition: all 0.1s ease-in-out;
	transform: scale(1);
	transform-origin: top left;
}

#modal_latex_positionable {
	display: none;
	position: fixed;
}

.modal_text, .modal_image, .modal_clear, .modal_latex, .modal_image_select, .modal_image_upload_progress {
	display: none;
}

/*.modal_image_select {
	background-color: #ffffff;
	border-top: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	margin-top: 120px;
}*/

img.toolbar_button:hover {
	border-right: 4px #2a7fff solid;
}

img.toolbar_button_selected {
	border-right: 4px #eeeeee solid;
}

#image_upload_form {
	display: none;
}

.modal_centered_outer {
    display: table;
    position: absolute;
    height: 60%;
    width: 100%;
}

.modal_centered_middle {
    display: table-cell;
    vertical-align: middle;
}

.modal_centered_inner {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.modal_image_upload_progress, .modal_image_select, .modal_clear {
	background-color: white;
    border-top: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	padding-top: 20px;
	padding-bottom: 20px;
}