h1, h2, h3, h4, h5, h6, p {
	font-family: helvetica, sans-serif;
}

canvas {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	overflow: hidden;
}

#canvas1 {
	z-index: -2;
}

#canvas2 {
	z-index: -1;
}

body.whiteboard {
	margin: 0px auto;
	position: fixed;
	overflow: hidden;
	height:100%;
}

body.index {
	text-align: center;	
}

div.container {
	text-align: center;
	/*text-align: center;*/
	margin: 0px auto;
	width: 800px;
}

div.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

div.toolbar {
	background-color: #000000;
	height: 100%;
	/*margin: 0px auto;*/
	/*width: 100px;*/
	opacity: 1;
	float: left;
	z-index: 100;
	position: relative;
}

#modal_pane {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: rgba(255, 255, 255, 0.8);
	/*opacity: 0.8;*/
	display: none;
	/*float: right;*/
	/*visibility: hidden;*/
}

#text_input_text {
	font-family: helvetica;
	font-size: 30px;
	font-style: normal;
	position: fixed;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border: 0px;
	opacity: 1px;
}

.modal_text {
	display: none;
}

.modal_image {
	display: none;
}

/*#toolbar_confirmcancel {
	display: none;
}*/

#modal_image {
	position: fixed;
}