h1, h2, h3, h4, h5, h6, p {
	font-family: helvetica, sans-serif;
}

#canvas_wrapper {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

canvas {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	overflow: hidden;
}

#canvas1 {
	z-index: -2;
	background-color: white;
}

#canvas2 {
	z-index: -1;
}

body.whiteboard {
	margin: 0px auto;
	position: fixed;
	overflow: hidden;
	height:100%;
	background-color: gray;
}

div.headder {
	border-bottom: 1px solid #eeeeee;
	text-align: center;
	padding: 10px;
}

span.float_left {
	float: left;
}

a.no_underline {
	text-decoration-line: none;
	text-decoration: none;
}

span.nav_button, span.nav_button_current {
	padding: 11px 20px 10px 20px;
	margin: 0px 20px 0px 20px;
	color: #000000;
}

span.nav_button_current {
	border-bottom: 4px #eeeeee solid;
}

span.nav_button:hover, span.nav_button_current:hover {
	/*background-color: #eeeeee;*/
	border-bottom: 4px #2a7fff solid;
}

div.large_container {
	width: 1000px;
	margin: 0px auto;
}

div.background {
	width: 1000px;
	height: 300px;
	position: absolute;
	background-image: url("/static/images/splash.png");
	z-index: -1;
}

div.container {
	text-align: center;
	/*text-align: center;*/
	margin: 0px auto;
	width: 800px;
}

div.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

div.toolbar {
	background-color: #383333;
	height: 100%;
	/*margin: 0px auto;*/
	/*width: 100px;*/
	float: left;
	z-index: 100;
	position: relative;
	padding: 4px;
}

#modal_pane {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
	/*float: right;*/
	/*visibility: hidden;*/
}

#text_input_text {
	font-family: helvetica;
	font-size: 30px;
	font-style: normal;
	position: fixed;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	border: 0px;
	transition: all 0.1s ease-in-out;
}

.modal_text {
	display: none;
}

.modal_image {
	display: none;
}

/*#toolbar_confirmcancel {
	display: none;
}*/

#modal_image {
	position: fixed;
	transition: all 0.1s ease-in-out;
	transform: scale(1);
	transform-origin: top left;
}

#modal_latex_positionable {
	display: none;
	position: fixed;
}

.modal_clear {
	display: none;
}

.modal_latex {
	display: none;
}

img.toolbar_button {
	transition: all 0.02s ease-in-out;
}

/*img.toolbar_button:hover {
	transform: scale(0.92);
}*/

table {
	width: 100%;
}

td {
	width: 50%;
	text-align: center;
	padding: 20px;
}